@tailwind base;
@tailwind components;
@tailwind utilities;


  @layer components {
    .animate{
      display: flex;
      animation: scroll 30s linear infinite;
    }
    .animate-reversed{
      display: flex;
      animation: scroll 30s linear infinite;
      animation-direction: reverse;
    }
  
    @keyframes scroll {
      0%{
  
        transform: translateX(0);
      }
      100%{
  
        transform: translate(-70%);
      }
    }
  
  } 

 
     